<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Host View</title>
<link href="/basic.css" rel="stylesheet" type="text/css">
</head>
<body><h1>Open Home</h1><a href='/home'>Go To Dashboard</a>
<h1>Host View</h1>

	<a th:href="@{'/host/rating/list?hostId=' + ${host.id}}">Rating List</a>
	
<div th:if="${host != null}">
	<table border="1" cellspacing="0">
		<tr>
			<th>Email</th>
			<td>[[${host.userDetails.email}]]</td>
		</tr>
		<tr>
			<th>First Name</th>
			<td>[[${host.userDetails.firstName}]]</td>
		</tr>
		<tr>
			<th>Last Name</th>
			<td>[[${host.userDetails.lastName}]]</td>
		</tr>
		<tr>
			<th>User Registration Type</th>
			<td>[[${host.userDetails.userRegistrationType}]]</td>
		</tr>
		<tr>
			<th>Phone Number</th>
			<td>[[${host.userDetails.phoneNumber}]]</td>
		</tr>
		<tr>
			<th>Avg Rating</th>
			<td>[[${host.userDetails.averageRating}]]</td>
		</tr>
		<tr>
			<th>Total Ratings Count</th>
			<td>[[${host.userDetails.totalReviewsCount}]]</td>
		</tr>
		<tr>
			<th>Display Picture</th>
			<td><img style="width:200px" onerror="this.src='https://vignette.wikia.nocookie.net/made-for-tv-movie/images/6/62/Image_unavailable.png/revision/latest?cb=20171002225603';" th:src="${host.userDetails.displayPictureId == null ? '' : host.userDetails.displayPictureId.url}"></td>
		</tr>
	</table>
</div>	
</body>
</html>