<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Place Registration</title>
<link href="/basic.css" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
	var successLink = "[[${successLink}]]";
	if(successLink != undefined && successLink != ""){
		window.location = "/"+successLink;
	}
</script>
<style>
.select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
</style>
</head>
<body><h1>Open Home</h1><a href='/home'>Go To Dashboard</a>
<h1>Place Registration Form</h1>
<p style="color:red">[[${errorMessage}]]</p>
<form id="myForm" action="/place/register" method="POST" enctype="multipart/form-data">
	<table border="1">
		<tr>
			<th>Name</th>
			<td><input name="name" required></td>
		</tr>
		<tr>
			<th>Property Type</th>
			<td>
				<div class="select-style"><select name='propertyType' required>
					<option value='House' selected>House</option>
					<option value='Apartment'>Apartment</option>
					<option value='Townhouse'>Townhouse</option>
				</select></div>
			</td>
		</tr>
		<tr>
			<th>Room Type</th>
			<td>
				<select name='roomType' required>
					<option value='Entire House' selected>Entire House</option>
					<option value='Private Room'>Private Room</option>
				</select>
			</td>
		</tr>
		<tr>
			<th>Accomodates</th>
			<td><input name='accomodates' type='number' required></td>
		</tr>
		<tr>
			<th>Amenities</th>
			<td>
				<div id='amenities' class='checkBoxContainer' svals='' vals='Kitchen;Shampoo;Heating;Air conditioning;Washer;Dryer;Wifi;Breakfast;Indoor fireplace;Hangers;Iron;Hair dryer;Laptop friendly workplace;TV;Crib;High chair;Self check-in;Smoke detector;Carbon monoxide detector;Private bathroom;Beachfront;Waterfront'></div>
			</td>
		</tr>
		<tr>
			<th>Facilities</th>
			<td>
				<div id='facilities' class='checkBoxContainer' svals='' vals='Free parking on premises;Gym;Hot tub;Pool'></div>
			</td>
		</tr>
		<tr>
			<th>House Rules</th>
			<td>
				<div id='houseRules' class='checkBoxContainer' svals='' vals='Suitable for events;Pets allowed;Smoking allowed'></div>
			</td>
		</tr>
		<tr>
			<th>Place Preview Picture</th>
			<td><input name="image" type="file" accept="image/*"><input type="text" name="imageUrl" placeholder="img link"></td>
		</tr>
		<tr>
			<th>Available On</th>
			<td>
				<div id='availableWeekDays' class='checkBoxContainer' svals='[Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday]' vals='Sunday;Monday;Tuesday;Wednesday;Thursday;Friday;Saturday'></div>
			</td>
		</tr>
		<tr>
			<th>No Of Bedrooms</th>
			<td><input name='noOfBedrooms' type='number' required></td>
		</tr>
		<tr>
			<th>No Of Bathrooms</th>
			<td><input name='noOfBathrooms' type='number' required></td>
		</tr>
		<tr>
			<th>No Of Beds</th>
			<td><input name='noOfBeds' type='number' required></td>
		</tr>
		<tr>
			<th>Weekday Rent Price</th>
			<td><input name='weekdayRentPrice' type='number' required></td>
		</tr>
		<tr>
			<th>Weekend Rent Price</th>
			<td><input name='weekendRentPrice' type='number' required></td>
		</tr>
		<tr>
			<th>SqFt</th>
			<td><input name='sqft' type='number' required></td>
		</tr>
		<tr>
			<th>Contact Phone Number</th>
			<td><input name='contactPhoneNumber' type='text' required></td>
		</tr>
		<tr>
			<th>Private Bathroom</th>
			<td>
				<select name='privateBathroom' required>
					<option value='true' selected>Yes</option>
					<option value='false'>No</option>
				</select>
			</td>
		</tr>
		<tr>
			<th>Private Shower</th>
			<td>
				<select name='privateShower' required>
					<option value='true' selected>Yes</option>
					<option value='false'>No</option>
				</select>
			</td>
		</tr>
		<tr>
			<th>Description</th>
			<td><textarea name='description' ></textarea></td>
		</tr>
		<tr>
			<th>Free WiFi</th>
			<td>
				<select name='freeWiFi' required>
					<option value='true' selected>Yes</option>
					<option value='false'>No</option>
				</select>
			</td>
		</tr>
		<tr>
			<th>Parking Available</th>
			<td>
				<select name='parkingAvailable' required>
					<option value='true' selected>Yes</option>
					<option value='false'>No</option>
				</select>
			</td>
		</tr>
		<tr>
			<th>Daily Parking Fee</th>
			<td><input name='dailyParkingFee' type='number' required></td>
		</tr>
		<tr>
			<th colspan="2"><button onclick="pickLoc()">Pick Location</button></th>
		</tr>
		<tr>
			<th>Latitude</th>
			<td><input name="address.latitude" required readonly></td>
		</tr>
		<tr>
			<th>Longitude</th>
			<td><input name="address.longitude" required readonly></td>
		</tr>
		<tr>
			<th>Address Line 1</th>
			<td><input name="address.addressLine1" required></td>
		</tr>
		<tr>
			<th>Address Line 2</th>
			<td><input name="address.addressLine2" required></td>
		</tr>
		<tr>
			<th>City</th>
			<td><input name="address.city" required readonly></td>
		</tr>
		<tr>
			<th>State</th>
			<td><input name="address.state" required readonly></td>
		</tr>
		<tr>
			<th>Zip</th>
			<td><input name="address.zip" required readonly></td>
		</tr>
		<tr>
			<th>Country</th>
			<td><input name="address.country" required readonly></td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit"></td>
		</tr>
	</table>
</form>
<script>
$(function() {
	$( ".checkBoxContainer" ).each(function( index ) {
		  console.log( index + ": " + $( this ).text() );
		  loadCheckBoxes(this,$(this).attr("vals").split(";"),$(this).attr("svals"));
	});
	
	function loadCheckBoxes(elem,langs,selectedlangs){
	 langs.forEach(function(lang) {
	  var label = document.createElement("label");
	  var checklist = document.createElement("input");
	  checklist.setAttribute("type","checkbox");
	  checklist.setAttribute("name",$(elem).attr("id"));
	  checklist.setAttribute("value",lang);
	  if(selectedlangs.includes(lang))
	  	checklist.setAttribute("checked",true);
	  label.append(checklist);
	  label.append(lang);
	  $(elem).append(label);
	 });
	}
	
	
	
});

function pickLoc(){
  popitup('../locationPicker.html','Location Picker');
}

function popitup(url,windowName) {
  var newwindow = window.open(url,windowName,'height=600,width=850');
  if (window.focus) {newwindow.focus();}
  return false;
}

function HandlePopupResult(result) {
   result = JSON.parse(JSON.stringify(result));
   console.log(result);
   
   $("#addressName").val(result.name);
   
   document.forms['myForm'].elements["address.latitude"].value = result.lat ;
   document.forms['myForm'].elements["address.longitude"].value = result.lng ;
   document.forms['myForm'].elements["address.addressLine1"].value = result.address.addressLine1 ;
   document.forms['myForm'].elements["address.city"].value = result.address.city ;
   document.forms['myForm'].elements["address.state"].value = result.address.state ;
   document.forms['myForm'].elements["address.country"].value = result.address.country ;
   document.forms['myForm'].elements["address.zip"].value = result.address.zip ;
}
</script>
</body>
</html>