<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Search Results</title>
<style>
	#searchStubsContainer{
		width:1385px;
		margin:0 auto;
	}
	.searchStubs{
		display:inline-block;
		width:420px;
		height:410px;
		border:none;
		box-shadow: 0 0 10px #444;
		margin:10px;
	}
</style>
<link href="/basic.css" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body><h1>Open Home</h1><a href='/home'>Go To Dashboard</a>
	<form action="../place/searchresults" method="POST">
		<input name="keywords" th:value="${placeSearchQuery.keywords}" placeholder="Keywords">
		<input name="cityOrZip" th:value="${placeSearchQuery.cityOrZip}" placeholder="City or Zip">
		<input type="date" th:value="${placeSearchQuery.reservationStartDateTime}"
	       name="reservationStartDateTime"
	       format-value="yyyy-MM-dd">
	    <input type="date" th:value="${placeSearchQuery.reservationEndDateTime}"
	       name="reservationEndDateTime"
	       format-value="yyyy-MM-dd">   
	    <p>Sharing Type :<div id='sharingType' class='checkBoxContainer' th:attr="svals=${placeSearchQuery.sharingType}" vals='Entire House;Private Room'></div></p>
	    <p>Property Type : <div id='propertyType' class='checkBoxContainer' th:attr="svals=${placeSearchQuery.propertyType}" vals='House;Apartment;Townhouse'></div></p>
	    <input name="minPrice" th:value="${placeSearchQuery.minPrice}" type="number" placeholder="Min Price">
	    <input name="maxPrice" th:value="${placeSearchQuery.maxPrice}" type="number" placeholder="Max Price">
	    <label><input type="checkbox" name="internetAvailable" value="Yes" th:checked="${placeSearchQuery.internetAvailable}">Internet</label>
	    <input type="submit">
	</form>
	<div id="searchStubsContainer"></div>
	<script type="text/javascript" th:inline="javascript" th:if="${places != null}">
		var placeDetails = [
			/*[# th:each="place : ${places}"]*/
			[ [[${place.id}]] , [[${place.bestSuitedSearchResult}]] ],
			/*[/]*/
			];
		console.log(placeDetails);
		
		var page = 0 ;
		
		function loadPage(){
			for( var i = (page*6)+0 ; i < (page*6)+6 ; i++ ){
				if(placeDetails.length <= i){
					page++;
					return;
				}
				loadStub(i);
			}
			page++;
			
			$('IFRAME').on('load', function () {
				var dataid = $(this).attr("data-id");
			   $(this).contents().on('click', function () {
				   //window.location = "../place/view?placeId="+dataid;
			   })
			});
		}
		
		//var encounteredFirstNonBestSuitedSearchResult;
		var efnbssr = false;
		
		function loadStub(i){
			if(placeDetails[i][1] == false){
				if(efnbssr == false){
					efnbssr = true;
					document.getElementById("searchStubsContainer").appendChild(document.createElement("hr"));
				}
			}
			//var a = document.createElement("a");
			var elem = document.createElement("iframe");
			elem.setAttribute("class","searchStubs");
			elem.setAttribute("src","../place/view?preview=true&placeId="+placeDetails[i][0]);
			elem.setAttribute("data-id",placeDetails[i][0]);
			//a.setAttribute("href","../place/view?preview=true&placeId="+placeDetails[i][0]);
			//a.appendChild(elem);
			document.getElementById("searchStubsContainer").appendChild(elem);
		}
		
		loadPage();
		window.onscroll = function(ev) {
		    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
		        // you're at the bottom of the page
		    	loadPage();
				
		    }
		};
		
		$(function() {
			
			$( ".checkBoxContainer" ).each(function( index ) {
				  console.log( index + ": " + $( this ).text() );
				  loadCheckBoxes(this,$(this).attr("vals").split(";"),$(this).attr("svals"));
			});
			
			function loadCheckBoxes(elem,langs,selectedlangs){
			 langs.forEach(function(lang) {
			  var label = document.createElement("label");
			  var checklist = document.createElement("input");
			  checklist.setAttribute("type","checkbox");
			  checklist.setAttribute("name",$(elem).attr("id"));
			  checklist.setAttribute("value",lang);
			  if(selectedlangs.includes(lang))
			  	checklist.setAttribute("checked",true);
			  label.append(checklist);
			  label.append(lang);
			  $(elem).append(label);
			 });
			}
			
			
			
		});
	</script>
</body>
</html>