<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Place View</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href="/basic.css" rel="stylesheet" type="text/css">
<script>
	var successLink = "[[${successLink}]]";
	if(successLink != undefined && successLink != ""){
		window.location = "/"+successLink;
	}
</script>
<style>
img{
	width:200px;
}
</style>
</head>
<body><h1>Open Home</h1><a href='/home'>Go To Dashboard</a>
<h1>Place View</h1>
<p style="color:red">[[${errorMessage}]]</p>

<div th:if="${hostAccess == true}">
	<a th:href="@{'/place/update?placeId=' + ${place.id}}">Update Place</a>
	<a th:href="@{'/place/delete?placeId=' + ${place.id}}">Delete Place</a>
	<a th:href="@{'/place/reservation/list?placeId=' + ${place.id}}">Reservations of Place</a>
</div>

<div th:if="${hostAccess == false}">
	<a th:href="@{'/reservation/create?placeId=' + ${place.id}}">Make Reservation</a>
</div>

	<a th:href="@{'/place/rating/list?placeId=' + ${place.id}}">Rating List</a>

<table border="1">
	<tr>
		<th>Name</th>
		<td>[[${place.placeDetails.name}]]</td>
	</tr>
	<tr>
		<th>Property Type</th>
		<td>[[${place.placeDetails.propertyType}]]</td>
	</tr>
	<tr>
		<th>Room Type</th>
		<td>[[${place.placeDetails.roomType}]]</td>
	</tr>
	<tr>
		<th>Host</th>
		<td><a th:href="@{'/host/view?hostId=' + ${place.host.id}}">[[${place.host.userDetails.email}]]</a></td>
	</tr>
	<tr>
		<th>Avg Rating</th>
		<td>[[${place.placeDetails.averageRating}]]</td>
	</tr>
	<tr>
		<th>Total Ratings Count</th>
		<td>[[${place.placeDetails.totalReviewsCount}]]</td>
	</tr>
	<tr>
		<th>Accomodates</th>
		<td>[[${place.placeDetails.accomodates}]]</td>
	</tr>
	<tr>
		<th>Amenities</th>
		<td>
			<div id='amenities' class='checkBoxContainer' th:attr="svals=${place.placeDetails.amenities}" vals='Kitchen;Shampoo;Heating;Air conditioning;Washer;Dryer;Wifi;Breakfast;Indoor fireplace;Hangers;Iron;Hair dryer;Laptop friendly workplace;TV;Crib;High chair;Self check-in;Smoke detector;Carbon monoxide detector;Private bathroom;Beachfront;Waterfront'></div>
		</td>
	</tr>
	<tr>
		<th>Facilities</th>
		<td>
			<div id='facilities' class='checkBoxContainer' th:attr="svals=${place.placeDetails.facilities}" vals='Free parking on premises;Gym;Hot tub;Pool'></div>
		</td>
	</tr>
	<tr>
		<th>House Rules</th>
		<td>
			<div id='houseRules' class='checkBoxContainer' th:attr="svals=${place.placeDetails.houseRules}" vals='Suitable for events;Pets allowed;Smoking allowed'></div>
		</td>
	</tr>
	<tr>
		<th>Available On</th>
		<td>
			<div id='availableWeekDays' class='checkBoxContainer' th:attr="svals=${place.placeDetails.availableWeekDays}" vals='Sunday;Monday;Tuesday;Wednesday;Thursday;Friday;Saturday'></div>
		</td>
	</tr>
	<tr>
		<th>Images</th>
		<td>
		<div th:if="${hostAccess == true}">
			<a th:href="@{'/place/updatePlaceImages?op=add&placeId=' + ${place.id}}" target="_blank">Add Place Images</a>
			<a th:href="@{'/place/updatePlaceImages?op=delete&placeId=' + ${place.id}}" target="_blank">Delete Place Images</a>
			<a th:href="@{'/place/updatePlaceImages?op=rearrange&placeId=' + ${place.id}}" target="_blank">Rearrange Place Images</a>
		</div>
			<br>
			<div>
				<span th:each="image : ${place.placeDetails.images}">
					<img th:src="${image.url}"/>
				</span>
			</div>
		</td>
	</tr>
	<tr>
		<th>No Of Bedrooms</th>
		<td>[[${place.placeDetails.noOfBedrooms}]]</td>
	</tr>
	<tr>
		<th>No Of Bathrooms</th>
		<td>[[${place.placeDetails.noOfBathrooms}]]</td>
	</tr>
	<tr>
		<th>No Of Beds</th>
		<td>[[${place.placeDetails.noOfBeds}]]</td>
	</tr>
	<tr>
		<th>Weekday Rent Price</th>
		<td>[[${place.placeDetails.weekdayRentPrice}]]</td>
	</tr>
	<tr>
		<th>Weekend Rent Price</th>
		<td>[[${place.placeDetails.weekendRentPrice}]]</td>
	</tr>
	<tr>
		<th>SqFt</th>
		<td>[[${place.placeDetails.sqft}]]</td>
	</tr>
	<tr>
		<th>Private Bathroom</th>
		<td>
			<select name='privateBathroom' th:field="*{place.placeDetails.privateBathroom}" required>
				<option value='true' selected>Yes</option>
				<option value='false'>No</option>
			</select>
		</td>
	</tr>
	<tr>
		<th>Private Shower</th>
		<td>
			<select name='privateShower' th:field="*{place.placeDetails.privateShower}" required>
				<option value='true' selected>Yes</option>
				<option value='false'>No</option>
			</select>
		</td>
	</tr>			
	<tr>
		<th>Description</th>
		<td>[[${place.placeDetails.description}]]</td>
	</tr>
	<tr>
		<th>Free WiFi</th>
		<td>
			<select readonly name='freeWiFi' th:value="${place.placeDetails.freeWiFi}" required>
				<option value='true' selected>Yes</option>
				<option value='false'>No</option>
			</select>
		</td>
	</tr>
	<tr>
		<th>Parking Available</th>
		<td>
			<select readonly name='parkingAvailable' th:value="${place.placeDetails.parkingAvailable}" required>
				<option value='true' selected>Yes</option>
				<option value='false'>No</option>
			</select>
		</td>
	</tr>
	<tr>
		<th>Daily Parking Fee</th>
		<td>[[${place.placeDetails.dailyParkingFee}]]</td>
	</tr>
	<tr>
		<th>Latitude</th>
		<td>[[${place.placeDetails.address.latitude}]]</td>
	</tr>
	<tr>
		<th>Longitude</th>
		<td>[[${place.placeDetails.address.longitude}]]</td>
	</tr>
	<tr>
		<th>Address Line 1</th>
		<td>[[${place.placeDetails.address.addressLine1}]]</td>
	</tr>
	<tr>
		<th>Address Line 2</th>
		<td>[[${place.placeDetails.address.addressLine2}]]</td>
	</tr>
	<tr>
		<th>City</th>
		<td>[[${place.placeDetails.address.city}]]</td>
	</tr>
	<tr>
		<th>State</th>
		<td>[[${place.placeDetails.address.state}]]</td>
	</tr>
	<tr>
		<th>Zip</th>
		<td>[[${place.placeDetails.address.zip}]]</td>
	</tr>
	<tr>
		<th>Country</th>
		<td>[[${place.placeDetails.address.country}]]</td>
	</tr>
</table>

<script>
$(function() {
	$( ".checkBoxContainer" ).each(function( index ) {
		  console.log( index + ": " + $( this ).attr("id") );
		  loadCheckBoxes(this,$(this).attr("vals").split(";"),$(this).attr("svals"));
	});
	
	function loadCheckBoxes(elem,langs,selectedlangs){
	 langs.forEach(function(lang) {
	  var label = document.createElement("label");
	  var checklist = document.createElement("input");
	  checklist.setAttribute("type","checkbox");
	  checklist.setAttribute("name",$(elem).attr("id"));
	  checklist.setAttribute("value",lang);
	  if(selectedlangs.includes(lang))
	  	checklist.setAttribute("checked",true);
	  label.append(checklist);
	  label.append(lang);
	  $(elem).append(label);
	 });
	}
	
	
	
});

function updatePlaceImages(){
	
}

</script>
</body>
</html>